= simple_form_for(@baby_pic, :html => {:multipart => true}) do |f|
  = f.error_notification

  .form-inputs
    = f.file_field :photo
    = f.input :title
    = f.input :private

  .form-actions
    = f.button :submit
