%p#notice= notice

%p
  = image_tag @baby_pic.photo_url(:full).to_s
%p
  %b Title:
  = @baby_pic.title
%p
  %b Private:
  = @baby_pic.private

= link_to 'Edit', edit_baby_pic_path(@baby_pic)
\|
= link_to 'Back', baby_pics_path
